{% load static %}
<footer class="footer ">
    <div class="footer__top">
        <div class="footer__main _container">
            <div class="footer__row">
                <div class="footer__column">
                    <div class="footer__label">Наши партнеры</div>
                    <div class="footer__menu menu-footer">
                        <ul class="menu-footer__list">
                            <li class="menu-footer__item">
                                <a href="#" class="menu-footer__link">
                                    Какой-то партнёр
                                </a>
                            </li>
                            <li class="menu-footer__item">
                                <a href="#" class="menu-footer__link">
                                    Какой-то партнёр
                                </a>
                            </li>
                            <li class="menu-footer__item">
                                <a href="#" class="menu-footer__link">
                                    Какой-то партнёр
                                </a>
                            </li>
                            <li class="menu-footer__item">
                                <a href="#" class="menu-footer__link">
                                    Какой-то партнёр
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__column">
                    <div class="footer__label">Контакты</div>
                    <div class="footer__menu menu-footer">
                        <ul class="menu-footer__list">
                            <li class="menu-footer__item">
                                <a href="tel:+78005002684" class="menu-footer__link footer__phone">
                                    8 800 500-26-84
                                </a>
                                <div class="phone__info">для России звонок бесплатный</div>
                            </li>
                            <li class="menu-footer__item ">

                                <div class="mail__label">Электронная почта</div>

                                <a href="mailto:tisbi@tisbi.ru" class="menu-footer__link">
                                    <img src="{% static 'image/letter.svg'%}" alt="letter" class="letter__img">tisbi@tisbi.ru
                                </a>

                            </li>
                            <li class="menu-footer__item">
                                <div class="address__label">
                                    Адресс
                                </div>
                                <div class="adress__info">
                                    Ул. Муштари 13,
                                    Ул. Муштари 11
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bot">
        <div class="footer__second _container">
            <div class="footer-second__row">
                <div class="second-footer__text">Мы в соцсетях:</div>
                <div class="second-footer__img">
                    <a href="#" target="_blank"><img src="{% static 'image/logo_vk.svg'%}" alt="vkontakte"></a>
                    <a href="#" target="_blank"><img src="{% static 'image/logo_tg.svg'%}" alt="telegram"></a>
                </div>
            </div>
        </div>
    </div>
</footer>