<header class="header">
    <div class="header__container _container">
        <div class="header__body">
            <div class="header__logo"><a target="_self" href="/">Цифровое образование</a></div>
            <div class="header__burger">
                <span></span>
            </div>
            <nav class="header__menu">
                <ul class="header__list">
                    <li class="header__item ">
                        <a href="/" class="header__link">Главная</a>
                    </li>
                    <li class="header__item">
                        <a href="/article/10/" class="header__link">Твой психолог</a>
                    </li>
                    <li class="header__item">
                        <a href="{% url 'feedback_page' %}" class="header__link ">Связаться с нами</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>